.App-logo {
  height: 40vmin;
}

a {
  text-decoration: none;
}

link:hover {
  text-decoration: none;
}

nav {
  width: 100%;
  min-height: 70px;
  background: #fff;
  /* box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25); */
  margin-bottom: 3rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;

}

.left-nav a {
  color: #6C63FF;
  font-size: 24px;
  font-weight: 600;
}

.right-nav {
  width: fit-content;
 
}

.right-nav a {
  padding: 14px 16px;
  color: #636363;
}


.right-nav a:hover {
  /* border-bottom: 1px solid #FC7963; */
  border-bottom: 3px solid #0069d9;

}

form {
  width: 40%;
  margin: auto;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.form-group {

}
form h6 {
  color: #495057;
  font-size: 18px;
}

form button {
  margin-top: 0.5rem!important;
}

/* SECTION ------------------------- */
section {
  min-height: 200px;
  display: flex;
  margin-top: 3rem;
}

.left-section {
  text-align: left;
  padding-top: 2rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
}

.left-section p {
  font-size: 18px;

}
.left-section h1 {
  font-size: 48px;

}
.right-section {
  width: 50%;
  height: 100%
}

.btn {
  padding: 14px 16px;
  min-width: 200px;
  border-radius: 40px;
  max-width: fit-content;
  margin-top: 2rem;
  font-size: 18px;
  
}
.btn-primary {
  background: #0069d9;
}

.btn-primary:hover {
  background: #fff;
  color: #0069d9;
  border: 1px solid #0069d9;
}
.bg-blue {
  background: #6C63FF;
  min-height: 100px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0069d9, 0 0 40px #0069d9, 0 0 50px #0069d9, 0 0 60px #0069d9, 0 0 70px #0069d9;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6C63FF, 0 0 40px #6C63FF, 0 0 50px #6C63FF, 0 0 60px #6C63FF, 0 0 70px #6C63FF, 0 0 80px #ff4da6;
  }
}